.banner{
	min-width: 1200px;
}
.banner img{
	display: block;
}
.official{
	width: 1500px;
	margin: auto;
	padding: 5% 50px;
}
.official p{
	font-size: 20px;
	color: #666666;
	margin-bottom: 30px;
	letter-spacing: 3px;
	font-family: helvetica;
	text-indent: 2em;
	line-height: 36px;
	font-family: "宋体";
}

.official p:nth-child(n+5){
	font-weight: bold;
	text-indent: 0;
}



