/*轮播*/

.banner {
	min-width: 1200px;
	position: relative;
}

.banner:before {
	content: '';
	display: block;
	padding-top: 28%;
}

.banner div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all 2s;
}

.banner div.active {
	opacity: 1;
}

.banner img {
	display: block;
}


/*优势*/

.superiority {
	width: 1200px;
	margin: auto;
	text-align: center;
}

.superiority>p:nth-child(1) {}

.superiority>p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 80px 0 30px 0;
}

.superiority>p:nth-child(2),
.superiority>p:nth-child(3) {
	font-size: 30px;
}
.superiority>p:nth-child(3){
	/*
	font-size: 36px;*/
	font-weight: bold;
	color: red;
}
.superiority>p:nth-child(2) span {
	color: #FF9000;
}

.superiority ul {
	margin-top: 60px;
}

.superiority ul li {
	float: left;
	width: 33.33333%;
}

.superiority ul li p:nth-child(1) {
	display: inline-block;
	font-size: 180px;
	vertical-align: middle;
}

.superiority ul li p:nth-child(1) img {
	vertical-align: middle;
}

.superiority ul li p:nth-child(n+2) {
	font-size: 18px;
	color: #434343;
}

.superiority ul li:nth-child(2) p:nth-child(2) {
	color: #FF9000;
}
.superiority ul li:nth-child(1) img{
	width: 80%;
}
.superiority ul li:nth-child(2) img{
	width: 85%;
}
.superiority>p:last-child {
	font-size: 16px;
	margin: 80px 0;
}

.superiority>p:last-child a {
	margin: 0 10px;
	color: #25C9FF;
}


/*<!--客户群体-->*/

.colony {
	min-width: 1200px;
	background: url(../images/bigback.png) no-repeat center center;
	background-size: 100% 100%;
	padding-bottom: 140px;
}

.colony .content {}

.colony .content>p {
	float: left;
	width: 50%;
	margin-top: 140px;
	text-align: right;
}

.colony .content>p img {
	width: 75%;
}

.colony .content div {
	float: left;
	width: 450px;
	margin-left: 30px;
}

.colony .content div p:nth-child(1) {}

.colony .content div p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 140px 0 40px 0;
}

.colony .content div p:nth-child(2),
.superiority div p:nth-child(2) {
	font-size: 30px;
	margin-bottom: 20px;
}

.colony .content div p:nth-child(2) span {
	color: #FF9000;
}

.colony .content div p:nth-child(n+3) {
	font-size: 16px;
	color: #000000;
	margin-bottom: 30px;
}

.colony .content div p:last-child {
	padding-top: 30px;
}

.colony .content div p:last-child a {
	margin: 0 5px;
	color: #000000;
}


/*<!--进好店 - 可以帮你解决-->*/

.resolve {
	background: #F7F7F7;
	padding-bottom: 100px;
}

.resolve div {
	width: 1200px;
	margin: auto;
	text-align: center;
}

.resolve div>p:nth-child(1) {}

.resolve div>p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 80px 0 30px 0;
}

.resolve div>p:nth-child(2) {
	font-size: 30px;
	margin-bottom: 30px;
}

.resolve div>p:nth-child(2) span {
	color: #FF9000;
}

.resolve div>p:nth-child(3) {
	font-size: 16px;
	color: black;
	width: 70%;
	line-height: 30px;
	margin: auto;
	margin-bottom: 50px;
}

.resolve div>p:nth-child(4) a {
	color: black;
	margin-right: 10px;
}

.resolve div>p:nth-child(4) a span {
	margin-left: 10px;
}

.resolve div ul {
	margin-top: 60px;
}

.resolve div ul li {
	float: left;
	width: 19.2%;
	background: white;
	padding: 30px 0;
	min-height: 450px;
}

.resolve div ul li:nth-child(n+2) {
	margin-left: 1%;
}

.resolve div ul li p {
	margin: 0 20px;
}

.resolve div ul li p:nth-child(1) {
	/*height: 100px;*/
	font-size: 100px;
	vertical-align: middle;
}

.resolve div ul li p:nth-child(1) img {
	width: 50%;
	vertical-align: middle;
}

.resolve div ul li:nth-child(n+2) p:nth-child(1) img {
	width: 40%;
	vertical-align: middle;
}

.resolve div ul li p:nth-child(2) {
	font-size: 24px;
	margin: 20px 0;
}

.resolve div ul li p:nth-child(3) {

	font-size: 16px;
	color: #4E4E4E;
	line-height: 30px;
}

/*<!--简单、易用、安全-->*/

.briefness {
	width: 1200px;
	margin: auto;
	text-align: center;
	padding-bottom: 80px;
}

.briefness>p:nth-child(1) {}

.briefness>p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 80px 0 30px 0;
}

.briefness>p:nth-child(2) {
	font-size: 30px;
}

.briefness>p:nth-child(2) span {
	color: #FF9000;
}

.briefness ul {
	margin-top: 100px;
}

.briefness ul li {
	float: left;
	width: 25%;
}

.briefness ul li p:nth-child(1) {
	font-size: 20px;
}

.briefness ul li p:nth-child(1) img {
	width: 20%;
}

.briefness ul li:nth-child(n+2) p:nth-child(1) img {
	width: 17%;
}

.briefness ul li p:nth-child(2) {
	font-size: 20px;
	margin: 10px 0;
}

.briefness ul li p:nth-child(n+3) {
	font-size: 16px;
	color: #7A7A7A;
}


/*<!--免费试用到有效为止 没有效果永不收费-->*/

.promise {
	background: #F9F9F9;
	text-align: center;
	padding-bottom: 100px;
}

.promise>p:nth-child(1) {}

.promise>p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 80px 0 30px 0;
}

.promise>p:nth-child(2),
.promise>p:nth-child(3) {
	font-size: 30px;
}

.promise>p:nth-child(2) span {
	color: #FF9000;
}


/*<!--		为什么选择我们-->*/

.choice {
	text-align: center;
	padding-bottom: 100px;
}

.choice>p:nth-child(1) a {
	color: #787878;
	font-size: 18.57px;
	display: inline-block;
	border: 1px solid #D4D4D4;
	padding: 5px 15px;
	border-radius: 5px;
	margin: 80px 0 30px 0;
}

.choice>p:nth-child(2) {
	font-size: 30px;
}

.choice>p:nth-child(2) span {
	color: #FF9000;
}

.choice ul {
	width: 1200px;
	margin: 80px auto;
}

.choice ul li p {
	float: left;
	width: 45%;
}

.choice ul li {
	padding: 20px 0;
	font-size: 16px;
	color: #4E4E4E;
}

.choice ul li p:nth-child(2) {
	width: 10%;
	font-size: 16px;
	color: #8C8C8C;
}

.choice ul li:nth-child(1) p {
	font-size: 24px;
	font-weight: bold;
	padding: 40px 0;
}

.choice ul li:nth-child(1) img {
	display: inline-block;
	width: 40%;
	margin-top: -10%;
}

.choice ul li:nth-child(odd) {
	background: #F9F9F9;
}

.choice ul li:nth-child(even) {
	background: #D8D8D8;
}

/*<!--	合作商家	-->*/

.consociation {
	background: #E3ECF2;
	padding: 100px 0;
	text-align: center;
}



.consociation p {
	font-size: 30px;
}

.consociation p span {
	display: inline-block;
	width: 70px;
	border-bottom: 3px solid black;
	vertical-align: middle;
}

.consociation .rolllllll {
	width: 1190px;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.consociation .left {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 46%;
	top: 90%;
	background: #999999;
	cursor: pointer;
	border-radius:50%;
}

.consociation .left.active {
	background: #333333;
}

.consociation .right {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 46%;
	top: 90%;
	background: #999999;
	cursor: pointer;
	border-radius:50%;
}

.consociation .right.active {
	background: #333333;
}
.consociation .rolllllll ul {
	height: 335px;
	overflow: hidden;
	margin: 50px 0;
	transition: all 1s;
}

.consociation .rolllllll li {
	float: left;
	width: 136px;
	margin: 0 17px;
}

.consociation .rolllllll li:nth-child(n+2) {}

.consociation .rolllllll li div {
	margin-bottom: 30px;
}



