ul,
li,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-size: Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.clearlr:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

.clearlr {
	zoom: 1;
}


/*导航*/

header {}

header nav {
	max-width: 1200px;
	margin: auto;
	padding: 20px 0;
}

header nav .logo {
	float: left;
	vertical-align: middle;
	width: 200px;
}

header nav ul {
	float: right;
	vertical-align: middle;
	margin-right:200px;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: inline-block;
	padding: 10px 15px;
	margin-top: 10px;
	font-size: 16px;
	color: #565656;
}

header nav ul li a.active {
	border-bottom: 2px solid #2B9CF0;
	color: #2B9CF0;
}

header nav ul li:last-child a {
	margin-left:20px;
	background: #2B9CF0;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px 10px;
	margin-top: 7px;
}

@media (max-width:992px) {
	header nav .logo {
		float: left;
		vertical-align: middle;
		width:120px;
		margin-top: 6px;
		margin-left: 10px;
	}
	header nav {
		padding: 0 0;
		position: relative;
	}
	header nav .menu {
		float: right;
		border: 2px solid #666666;
		border-radius: 6px;
		padding-bottom: 7px;
		margin-right: 10px;
		margin-top: 5px;
	}
	header nav .menu span {
		display: block;
		border-bottom: 2px solid #666666;
		width: 20px;
		margin: 0 8px;
		margin-top: 6px;
	}
	header nav ul {
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		float: none;
		background: white;
		vertical-align: middle;
		z-index: 99999;
		background: rgba(0, 0, 0, 0.8);
	}
	header nav ul li {
		float: none;
	}
	header nav ul li a {
		display: block;
		padding: 5px 25px;
		margin-top: 10px;
		font-size: 16px;
		color: #BBBBBB;
	}
	header nav ul li a.active {
		border-bottom: 2px solid white;
		color: white;
	}
	header nav ul li:last-child a {
		margin-left: 0;
		background: none;
		color: #BBBBBB;
		border-radius: 10px;
		font-size: 16px;
		padding: 5px 10px 5px 25px;
		margin-top: 7px;
	}
}


/*底部*/

@media (min-width:992px) {
	footer {
		background: #334259;
		padding: 50px 0;
	}
	footer>div {
		max-width: 1200px;
		margin: auto;
		color: white;
	}
	footer>div ul {}
	footer>div ul li {
		float: left;
		width: 20%;
		text-align: right;
	}
	footer>div ul li p {
		padding: 30px 0;
	}
	footer>div ul li p span {
		color: white;
		display: block;
	}
	footer>div ul li:nth-child(1) {
		background: url(../images/footer1.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(2) {
		background: url(../images/footer2.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(3) {
		background: url(../images/footer3.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(4) {
		background: url(../images/footer4.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(5) {
		background: url(../images/footer5.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div div:nth-child(2) {
		width: 150px;
		margin: 20px auto;
	}
	footer>div div:nth-child(3) {
		text-align: center;
	}
}


/*@media (max-width:992px) {
	footer {
		padding: 15px 10px;
	}
	footer>div ul li {
		float: left;
		width: 33%;
		text-align: right;
		font-size: 12px;
	}
	footer>div ul li p {
		padding:10px 0;
	}
	footer>div ul li p span {
		color: white;
		display: block;
	}
	footer>div ul li:nth-child(1) {
		background: url(../images/footer1.png) no-repeat 40% center;
		background-size: 20% auto;
	}
	footer>div ul li:nth-child(2) {
		background: url(../images/footer2.png) no-repeat 40% center;
		background-size: 20% auto;
	}
	footer>div ul li:nth-child(3) {
		background: url(../images/footer3.png) no-repeat 40% center;
		background-size: 20% auto;
	}
	footer>div ul li:nth-child(4) {
		background: url(../images/footer4.png) no-repeat 40% center;
		background-size: 20% auto;
	}
	footer>div ul li:nth-child(5) {
		background: url(../images/footer5.png) no-repeat 40% center;
		background-size: 20% auto;
	}
}*/

@media (max-width:992px) {
	footer{
		display: none;
	}
}


/*<!--		侧边栏-->*/
slide {
	position: fixed;
	right: 0;
	top:20px;
	z-index: 99999;
}

slide ul li {
	color: white;
	text-align: center;	
	background: #666666;
}

slide .cli {
	margin-bottom: 10px;
	background: #666666;
	cursor: pointer;
}
slide .cli:nth-child(3){
	margin-top: 100px;
	background: #FF9232;
}
slide .cli div {
	padding: 10px;
	position: relative;
	font-size: 14px;
}

slide ul li:nth-child(1) img {
	width: 30px;
	height: 25px;
}

slide ul li:nth-child(2) {
	background: #666666;
	cursor: pointer;
}

slide ul li:nth-child(3) a {
	color: white;
	font-size: 14px;
}

slide ul li:nth-child(2) img {
	display: block;
	width: 30px;
	height: 25px;
	margin: auto;
	margin-bottom: 10px;
}

slide ul li:nth-child(3) a img {
	display: block;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-bottom: 10px;
}

slide .cli .erweima {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	background: #666666;
	width: 100px;
	height: 100px;
	z-index: 99999;
}

slide .cli .tanchu {
	position: absolute;
	right: 100%;
	top: 0;
	background: #666666;
	z-index: 99999;
	vertical-align: middle;
	display: none;
}
slide .cli .tanchu a{
	color: white;
}
slide .cli .tanchu.active {
	display: block;
}

slide .cli .tanchu span {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 22px 0;
}

@media (max-width:992px) {
	body {
		padding-bottom: 50px;
	}
	slide {
		right: 0;
		left: 0;
		bottom: 0;
		top: auto;
	}
	slide ul {
		position: relative;
	}
	slide ul li {
		float: left;
		width: 33.333333%;
		height: 50px;
		
	}
	slide .cli {
		margin-bottom: 0;
		font-size: 12px;
	}
	slide .cli div {
		padding: 0;
		position: initial;
	}
	slide .cli:nth-child(3){
	margin-top: 0;
	background: #FF9232;
}
	slide ul li:nth-child(1) img {
		width: 25px;
		height: 20px;
		margin-bottom: 3px;
		margin-top: 5px;
	}
	slide ul li:nth-child(2) {
		margin-top: 0;
	}
	/*slide ul li:nth-child(3) a {
		color: white;
		font-size: 18px;
	}*/
	slide ul li:nth-child(2) img {
		display: block;
		width: 25px;
		height: 20px;
		margin: auto;
		margin-bottom: 6px;
		margin-top: 5px;
	}
	slide ul li:nth-child(3) a{
		font-size: 14px;
	}
	slide ul li:nth-child(3) a img {
		display: block;
		width: 20px;
		height: 20px;
		margin: auto;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	slide .cli .erweima {
		right: 0;
		top: auto;
		left: 0;
		bottom: 100%;
		width: 100px;
		height: 100px;
		display: none;
	}
	slide .cli .erweima.active{
		display: block;
	}
	slide .cli .tanchu {
		position: absolute;
		right: 0%;
		left: 0;
		bottom: 100%;
		top:auto;
		border-bottom: 1px solid #999999;
	}
	slide .cli .tanchu.active {
		display: block;
	}
	slide .cli .tanchu span {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		font-size: 20px;
		letter-spacing: 1px;
		padding:0;
	}
}