ul,li,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-size: Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
}
a{
	text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,body,html{
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	height: auto;
}
.clearlr:after{
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}
.clearlr{
	zoom: 1;
}



/*导航*/

header {}

header nav {
	max-width: 1200px;
	margin: auto;
	padding: 20px 0;
}

header nav .logo {
	float: left;
	vertical-align: middle;
}

header nav ul {
	float: right;
	vertical-align: middle;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: inline-block;
	padding: 10px 25px;
	margin-top: 10px;
	font-size: 16px;
	color: #565656;
}

header nav ul li a.active {
	border-bottom: 2px solid #2B9CF0;
	color: #2B9CF0;
}

header nav ul li:last-child a {
	margin-left: 80px;
	background: #2B9CF0;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px 10px;
	margin-top: 7px;
}

@media (max-width:992px) {
	header nav {
		padding: 0 0;
		position: relative;
	}
	header nav .menu {
		float: right;
		border: 2px solid #666666;
		border-radius: 6px;
		padding-bottom: 10px;
		margin-right: 10px;
		margin-top: 5px;
	}
	header nav .menu span {
		display: block;
		border-bottom: 2px solid #666666;
		width: 25px;
		margin: 0 10px;
		margin-top: 8px;
	}
	header nav ul {
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		float: none;
		background: white;
		vertical-align: middle;
		z-index: 99999;
		background: rgba(0, 0, 0, 0.8);
	}
	header nav ul li {
		float: none;
	}
	header nav ul li a {
		display: block;
		padding: 5px 25px;
		margin-top: 10px;
		font-size: 16px;
		color: #BBBBBB;
	}
	header nav ul li a.active {
		border-bottom: 2px solid white;
		color: white;
	}
	header nav ul li:last-child a {
		margin-left: 0;
		background: none;
		color: #BBBBBB;
		border-radius: 10px;
		font-size: 16px;
		padding: 5px 10px 5px 25px;
		margin-top: 7px;
	}
}