ul,
li,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-size: Helvetica, "Pingfang SC", "Microsoft YaHei", STHeiti, Verdana, Arial, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

p,
h1,
h2,
h3,slide
h4,
h5,
h6,
body,
html {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}

.clearlr:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

.clearlr {
	zoom: 1;
}


/*导航*/

header {
	width: 1200px;
	margin: auto;
}

header nav {
	width: 1200px;
	
	padding: 20px 0;
}

header nav .logo {
	float: left;
	vertical-align: middle;
	width: 200px;
}

header nav ul {
	float: right;
	vertical-align: middle;
	margin-right: 150px;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: inline-block;
	padding: 10px 15px;
	margin-top: 10px;
	font-size: 16px;
	color: #565656;
}

header nav ul li a.active {
	border-bottom: 2px solid #2B9CF0;
	color: #2B9CF0;
}

header nav ul li:last-child {
	position: relative;
	margin-left: 20px;
}

header nav ul li:last-child p {
	position: absolute;
	z-index: 99999;
	left: 50%;
	width: 200px;
	transform: translateX(-50%);
	display: none;
}

header nav ul li:last-child p.active {
	display: block;
}

header nav ul li:last-child button {
	border: none;
	outline: none;
	cursor: pointer;
	background: #2B9CF0;
	color: white;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px 10px;
	margin-top: 7px;
}




/*底部*/
	footer {
		min-width: 1200px;
		background: #334259;
		padding: 50px 0;
	}
	footer>div {
		width: 1200px;
		margin: auto;
		color: white;
	}
	footer>div ul {}
	footer>div ul li {
		float: left;
		width: 20%;
		text-align: right;
	}
	footer>div ul li p {
		padding: 30px 0;
		margin-right: 10px;
	}
	footer>div ul li p span {
		color: white;
		display: block;
	}
	footer>div ul li:nth-child(1) {
		background: url(../images/footer1.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(2) {
		background: url(../images/footer2.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(3) {
		background: url(../images/footer3.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(4) {
		background: url(../images/footer4.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div ul li:nth-child(5) {
		background: url(../images/footer5.png) no-repeat 40% center;
		background-size: 30% auto;
	}
	footer>div div:nth-child(2) {
		width: 150px;
		margin: 20px auto;
	}
	footer>div div:nth-child(3) {
		text-align: center;
	}


/*<!--		侧边栏-->*/

slide {
	position: fixed;
	right: 0;
	top: 20px;
	z-index: 99999;
}

slide ul li {
	color: white;
	text-align: center;
	background: #666666;
}

slide .cli {
	margin-bottom: 10px;
	background: #666666;
	cursor: pointer;
}

slide .cli:nth-child(3) {
	margin-top: 60px;
	background: none;
}

slide .cli div {
	padding: 10px;
	position: relative;
	font-size: 14px;
	color: white;
}

slide ul li:nth-child(1) img:nth-child(1) {
	width: 30px;
	height: 25px;
}

slide ul li:nth-child(1) img:nth-child(4) {
	display: none;
}

slide ul li:nth-child(1) p:nth-child(5) {
	position: absolute;
	right: 100%;
	top: 0;
	z-index: 99999;
	display: none;
}

slide ul li:nth-child(1) p:nth-child(5).active {
	display: block;
}

slide ul li:nth-child(1) p:nth-child(5) img {
	width: auto;
	height: auto;
}

slide ul li:nth-child(2) {
	background: #666666;
	cursor: pointer;
}

slide ul li:nth-child(3) a {
	color: white;
	font-size: 14px;
}

slide ul li:nth-child(2) img {
	display: block;
	width: 30px;
	height: 25px;
	margin: auto;
	margin-bottom: 10px;
}

slide ul li:nth-child(3) a img {
	display: block;
	width: 25px;
	height: 25px;
	margin: auto;
	margin-bottom: 10px;
}

slide .cli .erweima {
	position: absolute;
	right: 100%;
	top: 0;
	bottom: 0;
	background: #666666;
	width: 100px;
	height: 100px;
	z-index: 99999;
}

slide .cli .tanchu {
	position: absolute;
	right: 100%;
	top: 0;
	background: #666666;
	z-index: 99999;
	vertical-align: middle;
	display: none;
}

slide .cli .tanchu a {
	color: white;
}

slide .cli .tanchu.active {
	display: block;
}

slide .cli .tanchu span {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 22px 0;
}
slide ul li:nth-child(3) div{
	margin-bottom: 20px;
	background: #FF9232;
}
@media (min-width:992px) {
	slide li:last-child {}
	slide li:last-child a {
		display: block;
		color: white;
	}
	slide ul li:nth-child(3) div:nth-child(2) a {
		display: block;
		color: white;
		padding: 20px 0;
	}
	.bigtan {
		display: none;
	}
	slide .four{
		display: none;
	}
}